@(message: String)

@main("BucketHead") {
    
    <div class="center">
    	<div class="header">
    		<a href="#" ><img src="@routes.Assets.at("images/landing_page_tab_logo.png")" style="padding:0;margin: 8px;float:left" /></a>
    		<a href="#"><img src="@routes.Assets.at("images/landing_page_tab_button_appstore.png")" style="padding:0;margin: 8px;float:right" /></a>
    	</div>
    	<div style="height:676px;width:202px;float:left;"></div>
        <div class="content">
	    	<div class="profile-img">
	    		<img src="@routes.Assets.at("images/landing_page_profile_image.png")" />
	    		<!-- insert profile image -->
	    	</div>
	    	<div class="user-contents">
	    		<div class="user-activity">
	    		user's activity <!-- has added or done activity -->
	    		</div>
	    		<div class="time">
	    		user's upload time
	    		</div>
	    		<div class="activity-status">
	    		<!-- insert user's activity status -->
	    		</div>
	    	</div>
	    	<div class="user-image">
	    		<div>
	    		<!-- insert user's picture or activity picture -->
	    		</div>
	    	</div>		
	    </div>
    </div>
}
